<div class="navbar">
    <a href="/" class="active">Home</a>
    <a href="/product">Products</a>
    <a href="/account">Acccount</a>
    <a href="/sales">Statistics</a>
  
    <a href="/register" class="right">Sign up</a>
    <a href="/login" class="right">Login</a>
</div>