<div class="side">
    <div class="col-sm-4">
      <h1>Sales</h1>

      <!-- <p>Trang này sẽ hiện thị danh sách thông tin các cửa hàng trong ATN</p>
      <p>Đưa ra các thống kê về bán hàng</p>

      <p>Các thông tin về các thông kê bán hàng gồm:</p>
      <ol>
        <li>Số hàng đã nhập trong tháng này</li>
        <li>Số hàng đã bán được trong tháng này</li>
        <li>Số hàng đã bán được trong ngày(hiển thị theo từng ngày dựa trên bill)</li>
    </ol>

      <p>Đối với người dùng sử dụng trang thống kê</p>
      <p>Đối với Staff:</p>
      <ol>
          <li>Chỉ xem được thông tin cửa hàng hiện tại đang làm việc</li>
      </ol>
      <br><br>

      <p>Đối với Admin:</p>
      <ol>
          <li>Xem được thông tin của các cửa hàng</li>
      </ol> -->
  </div>     
</div>