<div class="side">
    <!-- <h2>About Sneaker Shop</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;"><img width=auto height="150px"  src="https://shop10k.vn/uploads/admin/resource/value/20057/bd36805a1f2c495ea7a7954e5dcf7e22.jpg" alt=""></div>
    <br>
    <br>
    <h3>News</h3>
    <br>
    <br>
    <div class="fakeimg" style="height:60px;"><img width=auto height="30px" src="https://bizweb.dktcdn.net/100/085/295/themes/174222/assets/cate5_banner.jpg?1593240831404" alt=""></div><br>
    <div class="fakeimg" style="height:60px;"><img width=auto height="30px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSi2koyrXCkrFDrQOseuqpYwmpMn3_x1zFVcA&usqp=CAU" alt=""></div><br>
    <div class="fakeimg" style="height:60px;"><img width=auto height="30px" src="https://tcdulichtphcm.vn/wp-content/uploads/2020/09/03.FTB_4364-A-20cmHL_WEBTC.jpg" alt=""></div> -->
  </div>