<div class="side">
    <div class="col-sm-4">
      <div class="row">
          <H1>Card</H1>
      </div>
      <div class="row" id="giohang">
          <table width="100%" id="giohangTab" style="border-width: 5px;border-color: rgb(33, 158, 81);padding-bottom: 15px;">
  
  </table>
      </div>
      
      <form action="/payment">
      <input  name="dssp" id="dssp" type="hidden" value="">
      <button type="button" class="btn btn-success" onclick="submit()">Payment</button>
      </form>
  </div>     
  </div>