<div class="side">
    <h2>About Sneaker Shop</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;"><img width=auto height="150px"  src="https://i.pinimg.com/564x/7f/06/6e/7f066ed7727133c655c7a87c6bb8c86b.jpg" alt=""></div>
    <br>
    <br>
    <h3>News</h3>
    <br>
    <br>
    <div class="fakeimg" style="height:60px;"><img width=auto height="30px" src="https://capvirgo.com/wp-content/uploads/2017/12/1111111111111banner-nike-tong.jpg" alt=""></div><br>
    <div class="fakeimg" style="height:60px;"><img width=auto height="30px" src="https://lh3.googleusercontent.com/proxy/XvG5oyYITs8bnYX-PcM04VZkGwXKxHOswWc8Sgfpg0OPk91yjvcpzbd2otdFwvRR_jSspsZpdFXlZ4Sllrk95rXqvNdpFBZJDalVZ5N38PITxfvkrJm47jd0qUl12g" alt=""></div><br>
    <div class="fakeimg" style="height:60px;"><img width=auto height="30px" src="https://lotgiaythethao.com/wp-content/uploads/2018/01/Sale-Banner-Sneakers.jpg" alt=""></div>
  </div>