<!DOCTYPE html>
<html lang="en">
<!-----------------------------Header---------------------------------->
<head>
  <%- include('partials/header') -%>
  <title>Page Product</title>
</head>

<!-----------------------------Body---------------------------------->
<body>
  <!-------------------------Menu------------------------------------>


  <br> <br> <br> <br>
  <hr>


  <h2>New a product Forms</h2>

  <div  >
    
    <form action="/admin/new" action="sessions" method="POST">
        <table > 
            <tr>
                <td>Product_Name</td>
                <td><input type="text" id="product_name" name="Product_name" value="Name"></td>
            </tr>

            <tr>
                <td>Product_Price</td>
                <td><input type="text" id="price" name="Price" value="Price"></td>
            </tr>

            <tr>
                <td>Product_Information</td>
                <td><input type="text" id="discription" name="Discription" value="Information"></td>
            </tr>

            <tr>
                <td>Product_img</td>
                <td><input type="text" id="product_image" name="Product_image" value="Link img"></td>
            </tr>

            <tr>
                <td>Product_Inventory</td>
                <td><input type="text" id="inventory" name="Inventory" value="Inventory"></td>
            </tr>

            <tr>
                <td>Product_Revenue</td>
                <td><input type="text" id="revenue" name="Revenue" value="Revenue"></td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
  </div>
  

  <br> <br> <br> <br>



    
    <br> <br> <br> <br>
    <br> <br> <br> <br>
    <br> <br> <br> <br>
  
    <hr>

  <!------------------------------------Footer----------------------------------------->
  <footer>
    <%- include('partials/footer') -%>
  </footer>


</body>
</html>