<!DOCTYPE html>
<html lang="en">
<!-----------------------------Header---------------------------------->
<head>
  <%- include('partials/headertest') -%>
  <title>Page Payment</title>
</head>

<!-----------------------------Body---------------------------------->
<body>
  <!-------------------------Menu------------------------------------>

  <br> <br> <br> <br>
  <hr>
  <br> <br> <br> <br>

  <h2 style="text-align: center;"> Successfull</h2>

  <br> <br> <br> <br>
  <br> <br> <br> <br>
  <br> <br> <br> <br>

  <a href="/" ><b>Back to Home</b></a>

  <hr>
  <!------------------------------------Footer----------------------------------------->
  <footer>
    <%- include('partials/footer') -%>
  </footer>


</body>
</html>