<!DOCTYPE html>
<html lang="en">
<!-----------------------------Header---------------------------------->
<head>
  <%- include('partials/header-home') -%>
  <title>Page Home</title>
</head>

<!-----------------------------Body---------------------------------->
<body>
  <!-------------------------Menu------------------------------------>
  <%- include('partials/menu') -%>

  <div class="row">
    <%- include('partials/row-left') -%>

    <div class="main" >
      <h2>Tôn dáng ngọc ngà</h2>
      <h5>Title description, Dec 7, 2020</h5>
      <div class="fakeimg" style="height:200px;"><img width=auto height="150px" src="https://i.pinimg.com/originals/8f/be/5b/8fbe5baa6a259b5f4738a6777accec40.jpg" alt=""></div>
      <p>..</p>
      <p>Tôn dáng ngọc ngà giảm giá 60% cho tất cả các sản phẩm</p>
      <br>
      <h2>Giày da</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;"><img width="auto" height="150px" src="https://giaydangtin.com/wp-content/uploads/2019/08/banner.jpg" alt=""></div>
      <p>..</p>
      <p>Giày da........</p>
    </div>
  </div>


  
  

  <!------------------------------------Footer----------------------------------------->
  <footer>
    <%- include('partials/footer') -%>
  </footer>


</body>
</html>

