<!DOCTYPE html>
<html lang="en">
  <head>
    <!-----------------------------Header---------------------------------->
    <head>
      <%- include('partials/header-home') -%>
      <title>Page Login</title>
    </head>

    <!-----------------------------Body---------------------------------->
  </head>
<body>
  <!-------------------------Menu------------------------------------>
  <%- include('partials/menu') -%>

  <div class="row">
    <%- include('partials/row-left') -%>

    
    <div class="main">
      <h2>Login Forms</h2>
        <form action="/login" method="POST">
          <label for="User">User:</label><br>
          <input type="text" id="User" name="User" value="admin"><br>
          <label for="Password">Password:</label><br>
          <input type="text" id="Password" name="Password" value="123456"><br><br>
          <input type="submit" value="Submit" >
        </form>     
    </div>

  </div>

    <!------------------------------------Footer----------------------------------------->
    <footer>
      <%- include('partials/footer') -%>
    </footer>

</body>
</html>

